/* Ysabeau SC */
@font-face {
  font-display: swap;
  font-family: "Ysabeau SC", sans-serif;
  font-style: normal;
  src: url("./assets/fonts/YsabeauSC-ExtraLight.ttf") format("truetype"),
    url("./assets/fonts/YsabeauSC-Light.ttf") format("truetype"),
    url("./assets/fonts/YsabeauSC-Medium.ttf") format("truetype"),
    url("./assets/fonts/YsabeauSC-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/YsabeauSC-Bold.ttf") format("truetype"),
    url("./assets/fonts/YsabeauSC-Black.ttf") format("truetype");
}
