/* oxygen-light */
@font-face {
  font-display: swap;
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Oxygen-Light.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oxygen-regular */
@font-face {
  font-display: swap;
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Oxygen-Regular.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oxygen-bold */
@font-face {
  font-display: swap;
  font-family: "Oxygen", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Oxygen-Bold.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
