/* Global Styles */

/* Font Families */

/* font-family: "Oxygen", sans-serif; */
/* font-family: 'EB Garamond', serif; */
/* font-family: "Zilla Slab", serif; */
/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Ysabeau SC', sans-serif; */

body {
  margin: 0 !important;
  font-family: "Ysabeau SC", sans-serif;
}
main {
  margin: 0 auto;
}
sup {
  position: relative;
  top: 0.4rem;
  font-size: 60%;
}
